<h1>Hi! Thanks for registration!</h1>

<p>
    Data submitted in form:
    Email: {{ user.email }} </br>
    First name: {{ user.firstName }} </br>
    Last name: {{ user.lastName }} </br>
    Description: {{ user.description }} </br>

    Username: {{ user.username }} </br>
    Password: {{ user.password }} </br>

</p>
