{% extends 'base.html.twig' %}

{% block title %}Update{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Update</h1>
    <form class="d-flex flex-column p-2 bd-highlight" action="{{ path('edit', {'id' : user.id}) }}" method="post">
        <div class="mb-3 col-6">
            {{ form_row(updateForm.username, {'attr': {'class' : 'form-control p-2'}, value : user.username}) }}
        </div>
        <div class="mb-3 col-6">
            {{ form_row(updateForm.email, {'attr': {'class' : 'form-control p-2'}, value : user.email}) }}
        </div>
        <div class="mb-3 col-6">
            {{ form_row(updateForm.firstName, {'attr': {'class' : 'form-control p-2'}, value : user.firstName}) }}
        </div>
        <div class="mb-3 col-6">
            {{ form_row(updateForm.lastName, {'attr': {'class' : 'form-control p-2'}, value : user.lastName}) }}
        </div>
        <div class="mb-3 col-6">
            <textarea class="form-control p-2" id="description" name="description">
                {{user.description}}
            </textarea>
        </div>
        <div class="mb-3 col-6">
            {{ form_row(updateForm.idPosition, {'attr': {'class' : 'form-control p-2'}, 'onchange' : "switchFormOptions()"}) }}
        </div>
        <div class="mb-3 col-6">
            {{ form_row(updateForm.testingSystems, {'attr': {'class' : 'form-control p-2'}, value : user.testingSystems}) }}
        </div>
        <div class="mb-3 col-6">
            {{ form_row(updateForm.raportingSystems, {'attr': {'class' : 'form-control p-2'}, value : user.raportingSystems}) }}
        </div>
        <div class="mb-3 col-6">
            {{form_widget(updateForm.selenium, {value : user.selenium}) }}{{ form_label(updateForm.selenium)}}
        </div>
        <div class="mb-3 col-6">
            {{ form_row(updateForm.ideEnvironments, {'attr': {'class' : 'form-control p-2'}, value : user.ideEnvironments}) }}
        </div>
        <div class="mb-3 col-6">
            {{ form_row(updateForm.programmingLanguages, {'attr': {'class' : 'form-control p-2'}, value : user.programmingLanguages}) }}
        </div>
        <div class="mb-3 col-6">
            {{form_widget(updateForm.mysql, {value : user.mysql}) }}{{ form_label(updateForm.mysql)}}
        </div>
        <div class="mb-3 col-6">
            {{ form_row(updateForm.methodologies, {'attr': {'class' : 'form-control p-2'}, value : user.methodologies}) }}
        </div>
        <div class="mb-3 col-6">
           {{form_widget(updateForm.scrum, {value : user.scrum}) }} {{ form_label(updateForm.scrum)}}
        </div>
        <button type="submit" class="btn btn-outline-success col-6">Update</button>
    </form>
    <script>

        $(document).ready( function() {
            $('#update_form_idPosition').change(function() {
                var selected = $(this).val()
                    switchFormOptions()
            });
        });

        window.addEventListener("load", function(){
            switchFormOptions();
        });


        function switchFormOptions () {
            var positionValue = document.getElementById('update_form_idPosition');
            var testingSystems = document.getElementById('update_form_testingSystems');
            var raportingSystems = document.getElementById('update_form_raportingSystems');
            var selenium = document.getElementById('update_form_selenium');
            var ideEnvironments = document.getElementById('update_form_ideEnvironments');
            var programmingLanguages = document.getElementById('update_form_programmingLanguages');
            var mysql = document.getElementById('update_form_mysql');
            var methodologies = document.getElementById('update_form_methodologies');
            var scrum = document.getElementById('update_form_scrum');
            console.log(positionValue.value);
            if (positionValue.value == "1") {

                testingSystems.disabled = false;
                testingSystems.parentElement.parentElement.style.display = "block";
                raportingSystems.disabled = false;
                raportingSystems.parentElement.parentElement.style.display = "block";
                selenium.disabled = false;
                selenium.parentElement.style.display = "block";
                ideEnvironments.disabled = true;
                ideEnvironments.parentElement.parentElement.style.display = "none";
                programmingLanguages.disabled = true;
                programmingLanguages.parentElement.parentElement.style.display = "none";
                mysql.disabled = true;
                mysql.parentElement.style.display = "none";
                methodologies.disabled = true;
                methodologies.parentElement.parentElement.style.display = "none";
                scrum.disabled = true;
                scrum.parentElement.style.display = "none";
                
            } else if (positionValue.value == "2") {
                testingSystems.disabled = true;
                testingSystems.parentElement.parentElement.style.display = "none";
                raportingSystems.disabled = true;
                raportingSystems.parentElement.parentElement.style.display = "none";
                selenium.disabled = true;
                selenium.parentElement.style.display = "none";
                ideEnvironments.disabled = false;
                ideEnvironments.parentElement.parentElement.style.display = "block";
                programmingLanguages.disabled = false;
                programmingLanguages.parentElement.parentElement.style.display = "block";
                mysql.disabled = false;
                mysql.parentElement.style.display = "block";
                methodologies.disabled = true;
                methodologies.parentElement.parentElement.style.display = "none";
                scrum.disabled = true;
                scrum.parentElement.style.display = "none";
            } else if (positionValue.value == "3") {
                testingSystems.disabled = true;
                testingSystems.parentElement.parentElement.style.display = "none";
                raportingSystems.disabled = false;
                raportingSystems.parentElement.parentElement.style.display = "block";
                selenium.disabled = true;
                selenium.parentElement.style.display = "none";
                ideEnvironments.disabled = true;
                ideEnvironments.parentElement.parentElement.style.display = "none";
                programmingLanguages.disabled = true;
                programmingLanguages.parentElement.parentElement.style.display = "none";
                mysql.disabled = true;
                mysql.parentElement.style.display = "none";
                methodologies.disabled = false;
                methodologies.parentElement.parentElement.style.display = "block";
                scrum.disabled = false;
                scrum.parentElement.style.display = "block";
            }
        }

    </script>
{% endblock %}
